/* цвет заголовков и навигации #212121 */
/* цвет кнопок и подсвечивания (акцент) #2196F3 */
/* цвет слов в кнопках #FFFFFF */
/* цвет описания в абзацах #757575 */
/* цвет в футере почты и тлф rgba(255, 255, 255, 0.6) */
/* лого #000000 */
/* цвет фона героя и футера #2F303A */
/* цвет фона наша команда и свг фона преимуществ #F5F4FA */
/* цвет бордера в шапке #ececec */
/* цвет иконок в нашей команде */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-logo-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --gallery-border-color: #eeeeee;
  --hero-bg-color: #2f303a;
  --follow-icon-color: #afb1b8;
  --join-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: solid tomato;
}

/* Header */
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--header-border-color);
}

/* Logo */
.logo {
  color: var(--accent-logo-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

.accent-inverse {
  color: var(--primary-white-color);
}
/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* Site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Contact */
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/* .contact .item + .item {
  margin-left: 50px;
} */

.contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact .icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Auth */
.auth-nav {
  display: flex;
  margin-left: auto;
}

/* .auth-nav .item + .item {
  margin-left: 12px;
} */

.auth-nav .item:not(:last-child) {
  margin-right: 12px;
}

.auth-nav .link {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  color: var(--primary-white-color);
  text-align: center;
  outline: solid tomato;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero > .button.primary {
  margin-bottom: 200px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(3) {
  background-color: var(--secondary-bg-color);
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */
.features-list {
  display: flex;
  margin-bottom: 94px;
}

/* .feature-list .item + .item {
  margin-left: 50px;
} */
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .features-icon {
  display: flex;
  width: 270px;
  height: 120px;

  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;

  background-color: var(--secondary-bg-color);
}

.features-icon .icon {
  width: 70px;
  height: 70px;
}

.features-list .title {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Work */
.work {
  display: flex;
}

/* .work .item + .item {
  margin-left: 50px;
} */

.work .item:not(:last-child) {
  margin-right: 30px;
}

/* Team */
.team-list {
  display: flex;
}

/* .team-list .list {
  display: inline-block;
} */

.team-list .item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* .team-list .item + .item {
  margin-left: 30px;
} */
.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Follow Team */
.follow {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.follow-item {
  margin-right: 10px;
}

.follow-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--follow-icon-color);
}

.follow-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.follow-link:hover,
.follow-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Clients */
.clients-list {
  display: flex;
}

.clients-list .clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--follow-icon-color);
  border-radius: 4px;

  color: var(--follow-icon-color);
}

.clients-item .icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-item .link:hover,
.clients-item .link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Button */
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  border-color: var(--accent-color);

  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-address .logo {
  margin-bottom: 20px;
}

.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* Footer Join */
.footer-join {
  margin-right: 93px;
}

.footer-join .title {
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join {
  display: flex;
  justify-content: center;
}

.join-item {
  margin-right: 10px;
}

.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: var(--join-bg-color);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

/* Footer Form */
.footer-form .title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ПОРТФОЛИО */

/* Фильтр работ */
.filter {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  padding: 6px 22px;

  border: 0px;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
}

.button-filter.primary-filter:hover,
.button-filter.primary-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Галлерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery .link {
  text-decoration: none;
}

.gallery .title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.gallery .text {
  margin-top: 4px;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}

/* calc((100 % - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке)  */
.gallery .content {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery .content:nth-child(3n) {
  margin-right: 0;
}

.gallery .content:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* АЛЬТЕРНАТИВА */
/* .gallery .content:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery .content:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.gallery .content:hover,
.gallery .content:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery .item {
  padding: 20px 24px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--gallery-border-color);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--gallery-border-color);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--gallery-border-color);
}
