/* цвет заголовков и навигации #212121 */
/* цвет кнопок и подсвечивания (акцент) #2196F3 */
/* цвет слов в кнопках #FFFFFF */
/* цвет описания в абзацах #757575 */
/* цвет в футере почты и тлф rgba(255, 255, 255, 0.6) */
/* лого #000000 */
/* цвет фона героя и футера #2F303A */
/* цвет фона наша команда #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-logo-color: #000000;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--accent-logo-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth */
.auth-nav .link {
  color: var(--accent-color);
}

/* Contact */
.contact .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */
.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */
.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Team */
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/* Footer */
.address {
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.join {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ПОРТФОЛИО */

/* Фильтр работ */
.button-filter {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button-filter.primary-filter:hover,
.button-filter.primary-filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Галлерея */
.gallery .link {
  text-decoration: none;
}

.gallery .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery .text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
