/* Features */
.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    @media screen and (min-width: 768px) {
      width: 354px;
    }
  }

  .item {
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  .item:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  .item:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  .item:nth-child(2n + 1) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  /* .feature-list .item + .item {
    margin-left: 50px;
  } */
  // .item:not(:last-child) {
  //   margin-right: 30px;
  // }

  .features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;

    border-radius: 4px;
    margin-bottom: 30px;
    // padding: 25px 100px;

    background-color: $secondary-bg-color;
  }

  .title {
    margin-bottom: 10px;
    margin-top: 0;
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.features-icon .icon {
  width: 70px;
  height: 70px;
}
