/* Section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &:nth-child(3) {
    background-color: $secondary-bg-color;
  }

  &.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &.team {
    background-color: $secondary-bg-color;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
