/* Team */
.team-list {
  // display: flex;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .item:nth-child(2n + 1) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  .item:nth-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  .item {
    margin-bottom: 30px;

    background-color: $primary-white-color;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* .team-list .item + .item {
    margin-left: 30px;
  } */

  @media screen and (min-width: 1200px) {
    .item:not(:last-child) {
      margin-right: 30px;
    }
  }

  .title {
    margin-top: 30px;
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }

  .text {
    margin-top: 0;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
  }
}
