/* Форма */
.form a {
  color: $accent-color;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px;

  .title {
    display: block;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $title-text-color;
  }

  .form-field {
    display: flex;
    position: relative;
    margin-bottom: 28px;
    max-height: 120px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  }

  .form-label {
    position: absolute;
    top: 50%;
    left: 42px;

    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-field {
  .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    /* width: 18px;
      height: 18px; */

    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.comment .form-label.comment {
    top: 12px;
    left: 16px;
  }

  &.comment .form-input {
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;
  }
}

/* Альтернатива
  .form-field:focus-within > .icon {
    fill: $accent-color;
  } */

.form-input {
  &:focus {
    border-color: $accent-color;
    outline: 0px;
  }

  &:focus ~ .icon {
    fill: $accent-color;
  }

  &:focus + .form-label,
  &:not(:placeholder-shown) + .form-label {
    color: $accent-color;

    transform: translate(-42px, -42px);
  }

  &:focus + .form-label.comment,
  &:not(:placeholder-shown) + .form-label.comment {
    color: $accent-color;

    transform: translate(-16px, -32px);
  }

  &:focus + .form-label.comment,
  &:not(:placeholder-shown) + .form-label.comment {
    color: $accent-color;

    transform: translate(-16px, -32px);
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .icon {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;

    border: 2px solid $title-text-color;
    border-radius: 2px;
  }

  .checkbox:checked + .icon {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.button-form {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  margin: auto;
  padding: 0;

  color: $primary-white-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}
