/* цвет заголовков и навигации #212121 */
/* цвет кнопок и подсвечивания (акцент) #2196F3 */
/* цвет слов в кнопках #FFFFFF */
/* цвет описания в абзацах #757575 */
/* цвет в футере почты и тлф rgba(255, 255, 255, 0.6) */
/* лого #000000 */
/* цвет фона героя и футера #2F303A */
/* цвет фона наша команда и свг фона преимуществ #F5F4FA */
/* цвет бордера в шапке #ececec */
/* цвет иконок в нашей команде */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-logo-color: #000000;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$header-border-color: #ececec;
$gallery-border-color: #eeeeee;
$hero-bg-color: #2f303a;
$follow-icon-color: #afb1b8;
$join-bg-color: rgba(255, 255, 255, 0.1);
